# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
LiFE.xcodeproj/xcuserdata/gregoryklein.xcuserdatad/xcschemes/xcschememanagement.plist

LiFE.xcodeproj/xcuserdata/gregoryklein.xcuserdatad/xcschemes/xcschememanagement.plist

LiFE.xcodeproj/xcuserdata/gregoryklein.xcuserdatad/xcschemes/GameOfLife.xcscheme

LiFE.xcodeproj/xcuserdata/gregoryklein.xcuserdatad/xcschemes/GameOfLife.xcscheme

LiFE.xcodeproj/xcuserdata/gregoryklein.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

LiFE.xcodeproj/xcuserdata/gregoryklein.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

LiFE.xcodeproj/project.xcworkspace/contents.xcworkspacedata

LiFE.xcodeproj/project.xcworkspace/contents.xcworkspacedata
